body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color: black; */
  /* color: white; */
}

#nav {
  height: 5rem;
  border-bottom: rgba(255, 255, 255, 0.158) 3px solid;
  opacity: .7;
}

#container {
  /* margin-left: auto;
  margin-right: auto; */
}
#title {
  animation:fade 7s ease forwards;
  font-size: 3.5em;
  font-family:'Permanent Marker', cursive ;
  color: white;
  text-shadow: 3px 3px black;
  
}
#txt_h3 {
  animation:fade 10s ease forwards;
  font-size: 2em;
  font-family:'Permanent Marker', cursive ;
  color: rgb(218, 136, 30);
  text-shadow: 2px 2px rgb(54, 32, 90);
}
#home {
  padding-top: 15rem;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)),
    url(img/rio.jpg); 
    background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}


/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 5vh;
}

#about {
  padding-top: 10vh;
  width: 100%;
  height: 105vh;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)),
    url(img/pc.jpg);
    background-size: cover;
  background-position: center;
}
#txt-about{
  font-family: 'Ubuntu Condensed', sans-serif;
  color: azure;
  /* color: rgb(30, 112, 218); */
  text-shadow: 2px 2px rgb(54, 32, 90);
  font-size: 3.5vh;
  text-align: center;
}


h2 {
  position: fixed;
  text-align: center;
  font-size: 5vh;
  font-family: monospace;
  top: 1em;
  

}

#myWork {
  padding-top: 6rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)),
    url(img/space.png); 
    background-size: cover;
  background-position: center;
  height: 500vh;
  width: 100%;
  
  align-content: center;
}
.card {
  max-width: 90vh;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
}
.card-custom{
  background-color: gray;
}

li {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #699BFF;
  /* color: rgb(30, 112, 218); */
  text-shadow: 1px 1px rgb(54, 32, 90);
  font-size: 2vh;
  text-align: center;
}
.txt_slide {
  font-size: 3.5vh;
  font-family:'Ubuntu Condensed', sans-serif;
  color: #699BFF;
  background-color: black;
  /* text-shadow: 2px 2px rgb(54, 32, 90); */
}

.txt_titleCard {
  font-size: 3.5vh;
  font-family:'Permanent Marker', cursive ;
  color: rgb(218, 136, 30);
  text-shadow: 2px 2px rgb(54, 32, 90);
}
.txt_titleCardSkills {
  font-size: 2.5vh;
  font-family:'Permanent Marker', cursive ;
  color: #FF75B6;
  text-shadow: 2px 2px rgb(54, 32, 90);
}


/* == scrolling sections ==  */
.scroll-container,
.scroll-area {
  max-width: 100%;
  height: 100vh;  
}

.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0 auto;
} 

@keyframes fade {
  from{
    opacity:  0;
  }
  to{
    opacity: 1;
  }
}